<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="HomeWork_L1" />
    <bean id="camera" class="HomeWork_L1.CameraImpl">
        <property name="cameraRoll" ref="cameraRoll"/>
    </bean>
    <bean id="helloMan" class="HomeWork_L1.HelloManOnceSay">
        <property name="name" value="Yuri" />
    </bean>

</beans>